/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #72C6E4; /* Un azul de ejemplo */
  --secondary-color: #6c757d; /* Un gris de ejemplo */
  --text-color: #333;
  --bg-color: #f8f9fa;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Estilos Globales para SnackBar */
.success-snackbar {
  background-color: #4CAF50; /* Verde */
  color: white;
}

.success-snackbar .mat-mdc-button.mat-mdc-snack-bar-action {
  color: white;
}

.error-snackbar {
  background-color: #F44336; /* Rojo */
  color: white;
}

.error-snackbar .mat-mdc-button.mat-mdc-snack-bar-action {
  color: white;
}
